In [112]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from xgboost.sklearn import XGBClassifier
from sklearn import metrics
from sklearn.model_selection import cross_val_score

In [58]:
data=pd.read_csv("D:\shivam\Grades.csv")

In [59]:
data

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 43 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seat No.   571 non-null    object
 1   PH-121     571 non-null    object
 2   HS-101     571 non-null    object
 3   CY-105     570 non-null    object
 4   HS-105/12  570 non-null    object
 5   MT-111     569 non-null    object
 6   CS-105     571 non-null    object
 7   CS-106     569 non-null    object
 8   EL-102     569 non-null    object
 9   EE-119     569 non-null    object
 10  ME-107     569 non-null    object
 11  CS-107     569 non-null    object
 12  HS-205/20  566 non-null    object
 13  MT-222     566 non-null    object
 14  EE-222     564 non-null    object
 15  MT-224     564 non-null    object
 16  CS-210     564 non-null    object
 17  CS-211     566 non-null    object
 18  CS-203     566 non-null    object
 19  CS-214     565 non-null    object
 20  EE-217     565 non-null    object
 21  CS-212     565 non-null    object
 22  CS-215     565 non-null    object
 23  MT-331     562 non-null    object
 24  EF-303     561 non-null    object
 25  HS-304     561 non-null    object
 26  CS-301     561 non-null    object
 27  CS-302     561 non-null    object
 28  TC-383     561 non-null    object
 29  MT-442     561 non-null    object
 30  EL-332     562 non-null    object
 31  CS-318     562 non-null    object
 32  CS-306     562 non-null    object
 33  CS-312     561 non-null    object
 34  CS-317     559 non-null    object
 35  CS-403     559 non-null    object
 36  CS-421     559 non-null    object
 37  CS-406     486 non-null    object
 38  CS-414     558 non-null    object
 39  CS-419     558 non-null    object
 40  CS-423     557 non-null    object
 41  CS-412     492 non-null    object
 42  CGPA       571 non-null    float64
dtypes: float64(1), object(42)
memory usage: 191.9+ KB

In [61]:
data.isnull().sum()

Seat No.      0
PH-121        0
HS-101        0
CY-105        1
HS-105/12     1
MT-111        2
CS-105        0
CS-106        2
EL-102        2
EE-119        2
ME-107        2
CS-107        2
HS-205/20     5
MT-222        5
EE-222        7
MT-224        7
CS-210        7
CS-211        5
CS-203        5
CS-214        6
EE-217        6
CS-212        6
CS-215        6
MT-331        9
EF-303       10
HS-304       10
CS-301       10
CS-302       10
TC-383       10
MT-442       10
EL-332        9
CS-318        9
CS-306        9
CS-312       10
CS-317       12
CS-403       12
CS-421       12
CS-406       85
CS-414       13
CS-419       13
CS-423       14
CS-412       79
CGPA          0
dtype: int64

In [62]:
data1=data.dropna()

In [63]:
data1['HS-304'].unique()

array(['C+', 'C-', 'A', 'B-', 'A-', 'B+', 'B', 'C', 'D', 'D+', 'F', 'W'],
      dtype=object)

In [64]:
data1=data1.replace(['B-', 'A', 'D', 'A-', 'B+', 'B', 'C+', 'C', 'C-', 'D+', 'A+','F','WU','W'],[0,1,2,3,4,5,6,7,8,9,10,11,12,13])

In [66]:
x=data1.iloc[:,1:-1]
y=data1.iloc[:,-1]

In [67]:
x

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
0,0,9,8,7,8,9,2,8,0,8,...,7,8,8,8,8,3,1,8,5,3
1,1,2,9,2,0,7,2,1,9,2,...,2,9,2,7,2,3,0,7,7,5
2,1,5,1,0,4,1,0,4,3,3,...,3,5,5,1,7,1,1,1,3,1
3,2,6,9,2,2,3,9,8,2,6,...,8,9,7,9,8,0,5,6,6,6
4,3,3,3,4,1,1,3,4,1,3,...,3,0,4,4,0,3,1,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,5,1,1,3,10,1,3,3,10,4,...,4,3,3,1,1,1,4,4,5,1
567,10,1,1,1,1,1,1,3,1,1,...,3,4,4,1,1,3,5,3,7,3
568,5,1,3,4,1,1,1,1,1,5,...,4,3,5,1,4,1,7,4,3,3
569,1,4,2,1,2,9,0,8,0,8,...,4,2,5,5,8,2,7,5,0,7
570,7,2,2,7,7,9,5,6,7,9,...,9,6,7,0,2,11,8,4,2,8

In [68]:
y

0      2.205
1      2.008
2      3.608
3      1.906
4      3.448
       ...
566    3.798
567    3.772
568    3.470
569    2.193
570    1.753
Name: CGPA, Length: 417, dtype: float64

In [105]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=3)

In [106]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [107]:
yy_pred = lr.predict(x_test)

In [108]:
yy_pred

array([2.16114891, 3.44080455, 3.63287925, 2.85376938, 3.03422996,
       3.91422784, 3.1818432 , 2.48419304, 3.64474394, 2.3209386 ,
       3.18589229, 3.81439092, 2.63084645, 3.72549191, 3.2262643 ,
       2.16625586, 2.16849476, 3.46840049, 3.06460844, 1.86251247,
       1.9843362 , 2.06598416, 3.3756794 , 3.20441748, 3.12779405,
       3.58414208, 3.39870706, 2.59008949, 3.14053197, 2.39283074,
       3.49639588, 3.37073149, 3.0794535 , 3.26971206, 2.75490517,
       2.45157416, 3.62605597, 2.7958243 , 2.47120924, 2.78589107,
       3.01569477, 3.59768572, 2.62405413, 2.86424439, 3.47837782,
       3.44424888, 3.4444805 , 3.78950815, 3.74356811, 2.4814326 ,
       3.30282625, 2.94983529, 3.18355488, 3.43138833, 1.91304102,
       2.87303646, 3.01205593, 3.31771535, 2.34193659, 2.36664266,
       3.24627402, 3.1095635 , 1.8941496 , 3.14327636, 2.52726965,
       2.68527851, 3.18316164, 3.13883276, 3.4471288 , 2.20838799,
       3.09695721, 2.83709838, 3.28570904, 2.68993801, 2.45297085,
       3.35701753, 2.77049867, 3.42829621, 2.42961436, 3.52858121,
       2.77534122, 2.9654343 , 2.52833618, 3.76204561])

In [109]:
lr_pred_train= lr.predict(x_train)
error_score = metrics.r2_score(y_train,lr_pred_train)
print('R squared Error: ',error_score)

R squared Error:  0.813325338004669

In [110]:
lr_pred_test= lr.predict(x_test)
error_score = metrics.r2_score(y_test,lr_pred_test)
print('R squared Error: ',error_score)

R squared Error:  0.7219730417091815